<!DOCTYPE html>
<html>
    <head>
      <title>Bank SSR</title>
      <%- include('includes/imports') %>
      <script src="public/js/home.js"></script>
    </head>
    <body>
        <%- include('includes/nav') %>
        <div class="container">
            <div class="col-8">
                <h3 class="slide-left"> Your Total Balance: <%= user.balance %>₪</h3>
                <h4 class="header"> Your Transactions</h4>
            </div>
            <div class="d-flex justify-content-between bd-highlight mb-3">
              <div class="p-2 bd-highlight">
                <span class="text-dark">From Date:</span>
                <input type="date" class="w-25" id="fromDate">
                <span class="text-dark">To Date:</span>
                <input type="date" class="w-25" id="toDate">
                <button class="btn btn-light update border" onclick="filter()">Filter</button>
              </div>
              <div class="p-2 bd-highlight">
                <a class="btn update btn-light border" role="button" aria-pressed="true" data-bs-toggle="modal" data-bs-target="#newTransaction" onclick="cleanModal()">New Transaction</a>
              </div>
            </div>
            <table class="table table-striped text-center">
                <thead class="thead-dark">
                <tr>
                  <th>Date</th>
                  <th>Username</th>
                  <th>Amount</th>
                </tr>
                </thead>
                <tbody id="transactionsTable">
                    <% for(var i = 0; i < transactions.length; i++) { %>
                    <tr>
                        <td><%= transactions[i].date.toLocaleDateString("en-GB") %></td>
                        <td><%= transactions[i].username %></td>
                        <td><%= transactions[i].amount %>₪</td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </body>
<!-- The Modal -->
<div class="modal" id="newTransaction">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Transaction</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
          <form id="createTransaction" onsubmit="newTransaction(event)">
            <div class="modal-body">
              <input type="hidden" name="username" value=<%= user.userName %> required>
              <input type="hidden" id="createSrc" name="src" value=<%= session.user_id %> required>
              <div class="mb-3">
                <label for="shortName" class="form-label">Username</label>
                <input type="text" class="form-control" id="createDst" name="dst" onkeyup="return validateUsername(this)" placeholder="Username" required>
              </div>
              <div class="mb-3">
                <label for="shortName" class="form-label">Amount</label>
                <input type="number" class="form-control" id="createAmount" name="amount" onkeyup="return validateAmount(this)" placeholder="Amount" required>
              </div>
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
</html>